{
  "presets": ["es2015", "react"],
  "plugins": ["syntax-async-functions", "syntax-class-properties", "syntax-object-rest-spread", "transform-regenerator", "transform-class-properties", "transform-object-rest-spread"]
}
